# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.env

# Logs
logs/
*.log
*.out
*.pid

# OS
.DS_Store
Thumbs.db

# Vue.js
# Nếu bạn dùng Vue CLI
/public/
/.cache/
.vite/
*.local

# Editor config
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Optional: nếu dùng PM2 hoặc các tool khác
ecosystem.config.js